body {

    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;  /* 添加弹性布局 */
    flex-direction: column;  /* 设置垂直方向 */
    background-color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.menu-btn {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: black;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.navigation {
    margin: 2% 20% 0 20%;
}
@media screen and (max-width: 768px) {
    .navigation {
        margin: 2% 0% 0% 0%;
    }

    .menu-btn {
        display: block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        z-index: 1;
        padding: 10px;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 16px;
    }

    nav ul.active {
        display: flex;
    }
}
  
a {
    font-size: 22px;
    display: block;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: black;
}

a:active {
    transform: translateY(1px);
  }
  
a:focus {
    outline: none;
    box-shadow: 0 0 5px #00FFFF;
}

#navigation {
    display: flex;
}
#index {
    font-weight: bolder;
    flex: 1;
    padding: 16px;
    background-color: #ffffff;
}
#content {
    flex: 3;
    padding: 16px;
    border-left: 1px solid #ddd;
    background-color: #ffffff;
}
.link {
    margin-bottom: 8px;
    font-size: larger;
    font-weight: bolder;
}
.link span {
    font-size: 14px;
    display: block;
    margin-left: 10px;
    font-weight: 500;
    color: #898989;
}