/* body {
    background-image: url('../static/images/bg.webp');
  } */
.flex-grow {
    flex-grow: 1;
}
.logo {
    font-size: larger;
    font-weight: bolder;
}
a {
    text-decoration: none;
    color: #000;
}
.el-tabs__nav {
    align-items: center;
}
.el-tabs__item {
    font-size: large;
    font-weight: bold;
}
.list {
    margin: 10px 0 20px 20px;
}
.link {
    margin-bottom: 8px;
    font-size: larger;
    font-weight: bolder;
    color: #000;
}
.link span {
    font-size: 14px;
    display: block;
    margin-left: 10px;
    font-weight: 500;
    color: #898989;
}
.tabs {
    margin: 0 25% 0 25%;
}

.card-content {
    line-height: 1.8;
    margin: 0 25% 0 25%;
}

.word-card {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #eee;
}
     
.word {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.word-button1 {
    margin-left: auto;
}
.word-button2 {
    margin-left: 5%;
}
.phonetic {
    font-size: 16px;
    color: #999;
} 
.translation {
    font-size: 18px;
}
.example {
    font-style: italic;
    color: #999;
}

@media screen and (max-width: 768px) {
    .tabs {
        margin: 0;
    }
    .card-content {
        margin: 0;
    }
}