<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bingo</title>
    <link rel="stylesheet" href="css/element.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/vue@3.js"></script>
    <script src="js/element-plus.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/icon-element.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NB1JGLTB6H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-NB1JGLTB6H');
    </script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="app">
        <div>
            <el-menu class="el-menu-demo" mode="horizontal" :ellipsis="false" >
                <el-menu-item index="0"><a href="page/index" class="logo">AndZaiz</a></el-menu-item>
                <div class="flex-grow" ></div>
                <el-sub-menu index="1">
                    <template #title>Workspace</template>
                    <el-menu-item index="1-1"><a href="page/email/liu.html" style="width: 100%;">联系</a></el-menu-item>
                </el-sub-menu>
            </el-menu>
        </div>
        <div class="tabs">
            <el-tabs tab-position="left" class="demo-tabs">
                <div v-for="(value, key, index) in navs">
                    <el-tab-pane :label="key">
                        <div v-for="(v, k, i) in value" >
                            <div class="list">
                                <a :href="v[0]" class="link">{{k}}<span>{{v[1]}}</span></a>
                            </div>
                        </div>
                    </el-tab-pane>
                </div>
            </el-tabs>
        </div>
        
        <div class="card-content">
            <el-card class="word-card" shadow="hover">
                <!-- <h3 style="color: red">效果不佳，暂不推荐使用，推荐单词书/记单词APP</h3> -->
                <div class="card">
                    <div class="card-header word">
                        {{ wordData.word }}       
                        <button class="btn btn-primary word-button1" @click="playAudio">
                            发音
                            <audio :src="'http://dict.youdao.com/dictvoice?type=0&audio=' + wordData.word" ref="audio"></audio>
                        </button>                 
                        <button class="btn btn-primary word-button2" @click="getWordData()">下一个</button>
                    </div>
                    <div class="card-body">
                        <div>
                            <p class="card-text phonetic">{{ wordData.accent }}</p>
                            <p class="card-text translation">{{ wordData.mean_cn }}</p>
                            <p class="card-text example">{{ wordData.sentence }}</p>
                            <p class="card-text example">{{ wordData.sentence_trans }}</p>
                            <p class="card-text example">{{ wordData.sentence_phrase }}</p>
                        </div>
                    </div>
                </div>
            </el-card>
        </div>


    </div>

    <script src="index.js"></script>
    <script>
        // 单词前缀
        let wordurl = "https://misxzaiz.github.io/nav/json/word/"
        const App = {
            data() {
                return {
                    navs: null,
                    wordList: {},
                    wordIndex: '',
                    wordData: {}
                }
            },
            methods: {
                getWordData() { // 将方法名 word 修改为 getWordData
                    let that = this;
                    let random = Math.floor(Math.random() * that.wordList.total);
                    that.wordIndex = that.wordList.list[random];
                    axios
                      .get(wordurl + "words/" + that.wordIndex + ".json")
                      .then(function(res) {
                        that.wordData = res.data;
                    })
                },
                playAudio() {
                    const audio = this.$refs.audio
                    audio.play()
                }
            },
            mounted() {
                // 来自 index.js 文件
                this.navs = index
                let that = this;
                axios
                    .get(wordurl + "list.json")
                    .then(function(res) {
                        that.wordList = res.data;
                        that.getWordData(); // 调用获取单词数据的方法
                    })
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount("#app");
    </script>
  </body>
</html>
